<p-password
  [ngModel]="value()"
  (ngModelChange)="onModelChange($event)"
  [disabled]="disabled()"
  [invalid]="invalid() && touched()"
  [feedback]="feedback()"
  [toggleMask]="toggleMask()"
  [autocomplete]="autocomplete()"
  [inputId]="inputId()"
  [placeholder]="placeholder()"
  [inputStyle]="toggleRoom"
  [fluid]="true"
  (onBlur)="touch.emit()"
>
  <ng-template #showicon let-iconClass="class">
    <button
      type="button"
      [class]="iconClass"
      class="password-input__toggle"
      [attr.aria-label]="showLabel"
    >
      <i class="pi pi-eye" aria-hidden="true"></i>
    </button>
  </ng-template>
  <ng-template #hideicon let-iconClass="class">
    <button
      type="button"
      [class]="iconClass"
      class="password-input__toggle"
      [attr.aria-label]="hideLabel"
    >
      <i class="pi pi-eye-slash" aria-hidden="true"></i>
    </button>
  </ng-template>
</p-password>
